
.texto-uno{
    color: red;
    font-size: 2.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.texto-dos{
    color: black;
    font-size: 2.5rem;
    font-family: serif;
 
}

.opc-menulog{
    color: white;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    margin: auto;
    margin-right: 20px;
    padding: 10px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.opc-menulog:hover{
    background-color: rgba(214, 133, 26, 0.92);
}

.custom-forlog{
    background-color: #1C5ED1; 
    color: white;
   
}

.custom-for{
    border: 4px solid black;
}

.footer-est{
    background-color: rgba(214, 133, 26, 0.92);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    border: 3px solid black;
}

